body {
  background-color: #1b4965;
}

#centered-title {
  color: #ffc300;
}

#central-div {
  background-color: #048ba8;
  height: 500px;
  text-decoration-color: #ced4da;
  text-align: right;
}

#subcentral-div {
  background-color: #ffe97f;
}

#login-col {
  background-color: aliceblue !important;
  padding: 20px;
  border-radius: 10px;
  text-align: -webkit-center;
}

.input-login {
    width: 250px;
    margin-bottom: 10px;
}

#login-btn:hover {
    color: #ced4da !important;
}

#center-title-index {
  font-family: "Lobster", cursive;
}

#center-text-index {
  font-family: "Lobster", cursive;
  font-size: 20px;
}

#margin-title-index {
    padding-left: 30px !important;
}

